:root {
  --primary-color: #06945b;
  --secondary-color: #f1b280;
  --accent-color: #68e5a2;
  --info-color: #395be0;
  --warning-color: #fae053;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #f9f9f9;
  background-color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: aquamarine;
}
a:hover {
  color: brown;
  text-decoration: underline;
}
button {
  color: #f9f9f9;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}
button:hover {
  background-color: var(--warning-color);
  color: black;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
